.layout_homepage {
    grid-template-areas: 'userdata' 'rest';
    grid-area: slider;
    grid-gap: 10px;
    background-color: #FFFFFF;
    display: grid;
    padding: 0px; /*geen witte randen*/
    margin: 0px; /*geen witte randen*/
    height: 100vh;
    grid-template-rows: 300px auto;
}

.head{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    background-color:  #00008B;
    grid-template-columns: 65% 35%;
}


#title{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #17488b; /* Oranje */
    /*border: none;*/
    display: block;
    height: 80%;
}

#foto{
   margin: 0;
    display: grid;
    grid-template-rows: 80% 20%;
}

#title h1{
    text-align: center;
    font-size: 30px;
    color: #FFB31A;
}

#title p{
    /*text-align: center;*/
    font-size: 20px;
    color: #FFB31A;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 30%;
}

#userfoto{
    height: 200px;
    float: right;
    width: auto;
    padding-right: 10px;
    padding-top: 10px;
}

#profiel{
    margin-right: 10%;
    border-radius: 25px;
    background-color: #17488b; /* Oranje */
    border: none;
    color: #FFB31A;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 60%;
    float: right;
}

.layout_mainpage{
    margin-left: 20px;
    margin-right: 20px;
    grid-area: rest;
    grid-gap: 10px;
    background-color: #FFFFFF;
    display: grid;
    padding: 0px;
    grid-template-columns:repeat(3, 1fr);
}

#layout_sub{
    /*display: block;*/
    padding: 0px;
    margin: 0px;
    background-color: #00008B;
    display: grid;
    grid-template-rows: 15% 35% 35% 10%;

}

#title_project h2{
    font-size: 30px;
    border: none;
    color: #FFB31A;
    text-align: center;
}

.content_box{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #17488b; /* Oranje */
    /*border: none;*/
    display: block;
    height: 80%;
    overflow: hidden;
}

.content_box .subtitle{
    font-size: 20px;
    border: none;
    color: #FFB31A;
    text-align: center;
    margin: 5px;
}

.content_box h4{
    margin: 2px;
    font-size: 15px;
    border: none;
    color: #FFB31A;
    text-align: center;
}

.content_box p{
    margin: 5px;
    border: 2px #00008B;
    text-align: left;
    font-size: 12px;
    color: #FFB31A;
}

#to_project{
    float: bottom;
}

#button{
    border-radius: 25px;
    background-color: #17488b; /* Oranje */
    border: none;
    color: #FFB31A;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /*<!-- display: inline-block;-->*/
    font-size: 16px;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}

#reactie_title{
    margin-left: 15%;
   float:left;
}
#message{
    height: 80%;
    float: right;
    margin-right: 10px;
    width: auto;
}

#feedback_box{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 20% 70%;
}

#feedback_title{
    margin-left: 15%;
    float:left;
}

#feedback{
    height: 80%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
}

#symbool_feedback{
    width: 60%;
    margin-left: 10%;
    height: auto;
}

#beoordeling p{
    text-align: center;
}


