/*mobile first dus daar mee beginnen*/
@media only screen and (max-width: 800px){
    #projectpagina{
        height: 100%;
        background-color: #004085;
    }
    .grid-projecten-colums {
        grid-template-areas: 'over' 'sub-menu' 'projecten' 'reclame' 'over2';
        grid-gap: 0px;
        display: grid;
        padding: 0px; /*geen witte randen*/
        margin: 0px; /*geen witte randen*/
        /*height: 100vh;*/
        grid-template-rows: 1px auto auto 220px 1px;
    }

    #projecten-row-grid {
        grid-area: projecten;
        grid-template-areas: 'project-header' 'projecten-info' 'project-footer'; /* hier geef je dus je grid componenten op*/
        grid-gap: 0px;
        background-color: #FFFFFF;
        grid-template-rows: 60px 100px 20px; /* je hebt 3 lagen dit zijn de hoogtes van de lagen*/
        border: 1px solid #00008B;
        padding: 10px; /*niet strak tegen de randen van scherm */
    }

    #filter-projecten{
        background-color: #9fcdff;
        padding-top: 30px;
        padding-left:10px;
        padding-bottom: 30px;
    }

    #filter-projecten2{
        grid-template-areas: 'filter-status' 'filter-categorie' 'filter-type' 'filter-mijn';
        display: grid;
        grid-template-columns: 100px 350px 100px 150px;
    }

    #filter-projecten-status h3{
        margin-top: -10px;
    }

    #filter-checkboxrij{
        width: 50%;
        float: left;
    }

    #nieuw-project{
        float: left;
        width: 140px;
        background-color: #FFB31A;
        color: black;

    }

    #project-nieuw-button{
        text-decoration: none;
        font-size: 23px;
    }

    #projecten-zoek{
        margin-left: 350px;
        margin-bottom: 10px;
    }

    #projecten-geen-project{
        margin-top: 10px;
        text-align: center;
        background-color: #9fcdff;
        font-size: 23px;
    }

    #projecten-header {
        grid-area: project-header;
        width: 100%;
    }

    #projecten-type {
        grid-area: project-header;
        color: #FFB31A;
        background-color: #00008B;
        text-align: center;
        float: left;
        width: 25%;
        border-bottom: 1px solid #00008B;
    }

    #projecten-titel {
        grid-area: project-header;
        text-align: center;
        background-color: #FFFFFF;
        float: left;
        width: 75%;
        border-bottom: 1px solid #00008B;
        color: black; /*Puur voor de link/titel*/
    }

    #projecten-info {
        background-color: #FFB31A;
        grid-area: project-info;
    }

    #projecten-status{
        grid-area: project-info;
        width: 25%;
        float: left;
        background-color: #9fcdff;
        font-size: 23px;
    }

    #projecten-beschrijving{
        grid-area: project-info;
        width: 75%;
        float:left;
        background-color: #9fcdff;
        font-size: 23px;
    }

    #projecten-footer {
        grid-area: projecten-footer;
        background-color: #9fcdff;
        text-align: right;
        padding-right: 10px;
    }

    #projecten-buttons{
        width: 100%;
        display: inline-block;
        font-size: 23px;
    }

    #projecten-previous{
        float: left;
        margin-left: 10%;
        background-color: #FFB31A;
        color: black;
        text-decoration: none;
        padding: 10px;
    }

    #projecten-next{
        float: right;
        margin-right: 10%;
        background-color: #FFB31A;
        color: black;
        text-decoration: none;
        padding: 10px;
    }

    #reclame{
        grid-area: reclame;
        /*background-color: red;*/
    }

    /* Vanaf hier het gedeelte voor de detailpagina van een project*/

    #project-row-grid {
        padding: 0px;
        display: grid;
        grid-template-areas: 'project-header' 'project-info' 'project-footer'; /*hier geef je dus je grid componenten op*/
        grid-gap: 0px;
        background-color: #FFFFFF;
        margin: 10px;
        grid-template-rows: 60px auto 50px;  /*Drie lagen, dit zijn de hoogtes*/
        border: 1px solid #00008B;
    }

    #project-header {
        grid-area: project-header;
    }

    #nieuw-project{
        width: 140px;
        margin-left: 5%;
        background-color: #FFB31A;
        color: black;
        padding: 10px;
    }

    #project-nieuw-button{
        text-decoration: none;
        font-size: 23px;
    }

    #projecten-zoek{
        margin: 5px;
    }

    #project-button {
        width: auto;
        background-color: #FFB31A;
        color: black;
        padding: 10px;
        font-size: 20px;
    }

    #project-button a{
        text-decoration: none;
        color: black
    }

    #project-wijzig-button{
        text-decoration: none;
    }

    /*    #project-klaar {
            color:red;
            background-color: aqua;
        }*/

    #project-aanbieder {
        grid-area: project-header;
        height: 60px;
        color: #FFB31A;
        background-color: #00008B;
        text-align: center;
        float: left;
        width: 35%;
        border-bottom: 1px solid #00008B;

    }

    #project-titel {
        grid-area: project-header;
        height: 60px;
        text-align: center;
        background-color: #FFFFFF;
        float: left;
        width: 65%;
        border-bottom: 1px solid #00008B;
        color: black; /*Puur voor de link/titel*/
    }

    #project-titel textarea{
        float: left;
        margin: 2px;
        font-size: 25px;
    }

    #project-type{
        font-size: 20px;
    }

    #project-info {
        grid-area: project-info;
        font-size: 22px;
        background-color: green;
    }

    #project-info-grid{
        display: grid;
        grid-template-areas: 'Parameters' 'beschrijving';
        grid-template-rows: auto auto;
        /*grid-template-columns: 35% 65%;*/
        background-color: #9fcdff;
    }

    #project-parameters{
        grid-area: Parameters;
        background-color: #9fcdff;
    }

    #parameter-tekstvak{
        max-width: 50%;
        min-width: 35%;
        float: left;
    }

    #project-beschrijving{
        border-top: 1px solid #00008B;
        margin-top: 5px;
    }

    #project-beschrijving textarea{
        alignment: center;
        margin: 2px;
        font-size: 21px;
    }

    #project-footer {
        grid-area: project-footer;
        background-color: #9fcdff;
        padding-right: 10px;
    }

    #project-footer2{
        width: 50%;
        float: left;
    }

    #project-footer3{
        width: 50%;
        float: right;
        text-align: right;
    }

    #reacties{
        margin-right: auto;
        margin-left: 10px;
    }

    #reactie-venster{
        border: 1px solid #00008B;
        background-color: #FFB31A;
        height: 200px;
        width: 99%;
        float: left;
        padding-left: 10px;
    }

    #reactie-inhoud{
        margin: 2px;
        padding: 10px;
        border: 1px solid #00008B;
        border-radius: 1%;
        height: 100px;
    }

    #filter-projecten-kop{
        font-size: 20px;
        font-weight: bold;
    }

    #reclame{
        display: grid;
        grid-template-areas: 'project-beschikbaarheid' 'project-feedback';
        grid-template-rows: 50% 50%;

    }

    #project-beschikbaarheid{
        display: grid;
        height: 100%;
        background-color: #c82333;
    }

    #project-feedback{
        display: grid;
        height: 100%;
        background-color: turquoise;
    }
}

/*Laptops / grote tablets*/
@media only screen and (min-width: 800px) {
    #projectpagina{
        min-height: 95vh;
        /*max-height: 100%;*/
        background-color: #004085;
    }

    .grid-projecten-colums {
        grid-template-areas: 'over' 'sub-menu' 'projecten' 'reclame' 'over2';
        grid-gap: 0px;
        display: grid;
        padding: 0px; /*geen witte randen*/
        margin: 0px; /*geen witte randen*/
        grid-template-columns: auto 220px auto 220px auto;

    }

    #projecten-row-grid {
        padding: 0px;
        display: grid;
        grid-template-areas: 'projecten-header' 'projecten-info' 'projecten-footer'; /*hier geef je dus je grid componenten op*/
        grid-gap: 0px;
        background-color: #FFFFFF;
        margin: 10px;
        grid-template-rows: 60px auto 20px;  /*Drie lagen, dit zijn de hoogtes*/
        border: 1px solid #00008B;
    }

    #filter-projecten{
        background-color: #9fcdff;
        margin-top: 10px;
        padding-top: 30px;
        padding-left:10px;
    }

    #projecten-row {
        /*background-color: #FFB31A;*/
    }

    #projecten-geen-project{
        margin-top: 10px;
        text-align: center;
        background-color: #9fcdff;
        font-size: 23px;

    }

    #projecten-header {
        grid-area: projecten-header;
    }

    #projecten-type {
        grid-area: projecten-header;
        color: #FFB31A;
        background-color: #00008B;
        text-align: center;
        float: left;
        width: 25%;
        border-bottom: 1px solid #00008B;
    }

    #projecten-titel {
        grid-area: projecten-header;
        text-align: center;
        background-color: #FFFFFF;
        float: left;
        width: 75%;
        border-bottom: 1px solid #00008B;
        color: black; /*Puur voor de link/titel*/
    }

    #projecten-info {
        grid-area: projecten-info;
        font-size: 22px;
        background-color: #9fcdff;
    }

    #projecten-status{
        width: 25%;
        float:left;
    }

    #projecten-beschrijving{
        float:left;
        width: 75%;
    }

    #projecten-footer {
        grid-area: projecten-footer;
        background-color: #9fcdff;
        text-align: right;
        padding-right: 10px;
    }

    #projecten-buttons{
        width: 100%;
        display: inline-block;
        font-size: 23px;
    }

    #projecten-previous{
        float: left;
        margin-left: 10%;
        background-color: #FFB31A;
        color: black;
        text-decoration: none;
        padding: 10px;
    }

    #projecten-next{
        float: right;
        margin-right: 10%;
        background-color: #FFB31A;
        color: black;
        text-decoration: none;
        padding: 10px;
    }


    /*vanaf hier voor de detailpagina project*/

    #project-row-grid {
        padding: 0px;
        display: grid;
        grid-template-areas: 'project-header' 'project-info' 'project-footer'; /*hier geef je dus je grid componenten op*/
        grid-gap: 0px;
        background-color: #FFFFFF;
        margin: 10px;
        grid-template-rows: 60px 500px 50px;  /*Drie lagen, dit zijn de hoogtes*/
        border: 1px solid #00008B;
    }

    #project-header {
        grid-area: project-header;
    }

    #nieuw-project{
        width: 140px;
        margin-left: 5%;
        background-color: #FFB31A;
        color: black;
        padding: 10px;
    }

    #project-nieuw-button{
        text-decoration: none;
        font-size: 23px;
    }

    #projecten-zoek{
        margin: 5px;
    }

    #project-button {
        width: auto;
        background-color: #FFB31A;
        color: black;
        padding: 10px;
        font-size: 20px;
    }

    #project-button a{
        text-decoration: none;
        color: black
    }

    #project-wijzig-button{
        text-decoration: none;
    }

    #project-klaar {
        color:red;
        background-color: aqua;
    }

    #project-aanbieder {
        grid-area: project-header;
        height: 60px;
        color: #FFB31A;
        background-color: #00008B;
        text-align: center;
        float: left;
        width: 35%;
        border-bottom: 1px solid #00008B;

    }

    #project-titel {
        grid-area: project-header;
        height: 60px;
        text-align: center;
        background-color: #FFFFFF;
        float: left;
        width: 65%;
        border-bottom: 1px solid #00008B;
        color: black; /*Puur voor de link/titel*/
    }

    #project-titel textarea{
        float: left;
        margin: 2px;
        font-size: 25px;
    }

    #project-type{
        font-size: 20px;
    }

    #project-info {
        grid-area: project-info;
        font-size: 22px;
        background-color: #9fcdff;
    }

    #project-info-grid{
        display: grid;
        grid-template-areas: 'Parameters' 'beschrijving';
        grid-template-columns: 35% 65%;
        background-color: #9fcdff;
    }

    #project-parameters{
        grid-area: Parameters;
        background-color: #9fcdff;
    }

    #parameter-tekstvak{
        width: 50%;
        float: left;
    }

    #project-beschrijving textarea{
        alignment: center;
        margin: 2px;
        font-size: 21px;
    }

    #project-footer {
        grid-area: project-footer;
        background-color: #9fcdff;
        text-align: right;
        padding-right: 10px;
    }

    #project-footer2{
        width: 50%;
        float: left;
    }

    #project-footer3{
        width: 50%;
        float: right;
        text-align: right;
    }

    #reacties{
        margin-right: auto;
        margin-left: 10px;
    }

    #reacties-scroll {
        width: auto;
    }

    #reactie-venster{
        border: 1px solid #00008B;
        background-color: #FFB31A;
        height: 200px;
        width: 49%;
        float: left;
    }

    #reactie-inhoud{
        margin: 2px;
        padding: 10px;
        border: 1px solid #00008B;
        border-radius: 1%;
        height: 100px;
    }


    /*laat heel even staan, weet niet mer waar dit van was.
/*    #colum1{
        background-color: #9fcdff;
    }

    #colum2{
        background-color: #FFB31A;
    }*/

    #popup-knop:hover{
        cursor: pointer;
    }

    .pop{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        padding: 100px;
        width: 50%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        alignment: center;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .reactie-popup-inhoud{
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #filter-projecten-kop{
        font-size: 20px;
        font-weight: bold;
    }

    #reclame{
        display: grid;
        grid-template-areas: 'project-beschikbaarheid' 'project-feedback';
        grid-template-rows: 50% 50%;

    }

    #project-beschikbaarheid{
        display: grid;
        height: 100%;
        background-color: #c82333;
    }

    #project-feedback{
        display: grid;
        height: 100%;
        background-color: turquoise;
    }

}